<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <main>
        <div>
            <% for(fruit of fruits){ %>
                <article>
                    <h2>
                        <%= fruit.name %>
                    </h2>
                </article>
            <% } %>
        </div>
    </main>
</body>
</html>